<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Data entry application</title>
  </head>
  <body>
    <h1>Add a resource</h1>
    <form class="" action="/add" method="POST">

      <label for="">Name:</label>
      <input type="text" name="name" placeholder="Enter user name"><br>

      <label for="">USN:</label>
      <input type="text" name="usn" placeholder="Enter user usn"><br>

      <label for="">Gender:</label><br>
      Male:<input type="radio" name="gender" value="Male">
      Female:<input type="radio" name="gender" value="Female"><br>

      <input type="submit" value="Add!!">
    </form>
  </body>
</html>
